*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #151515;
    --gold: #D5966C;
    --gray: #444;
    --white: #ffffff;
}

@media screen and (min-width: 768px) {
    .main-container {
        width: 768px;
    }

    .main-container .modern {
        display: flex;
    }

    .main-container .modern .img-box {
        display: flex;
    }

    .main-container .modern .grandma {
        width: 437px;
        height: 700px;
        background-image: url(assets/tablet-grandma.svg);
    }

    .main-container .img-box .title {
        position: absolute;
        width: 283px;
        transform: translate(400px, 140px);
    }

    .main-container .text-box {
        position: relative;
        transform: translate(-35px, 380px);
    }

    .main-container .middle {
        width: 689px;
        margin: auto;
    }

    .main-container .middle .top {
        display: flex;
        margin-top: 120px;
        justify-content: space-between;
    }

    .main-container .middle .top .img {
        order: 2;
        width: 398px;
        height: 400px;
        margin: 0;
        background-image: url(assets/tablet-middle.svg);
    }

    .main-container .middle .top .txt-box {
        order: 1;
        width: 223px;
    }

    .main-container .bottom {
        display: flex;
    }

    .main-container .bottom .left {
        width: 398px;
        height: 700px;
        background-image: url(assets/tablet-mid-left.svg)
    }

    .main-container .middle .bottom .right .img {
        width: 280px;
        height: 313px;
        margin: 19px 0;
        background-image: url(assets/tablet-mid-right.svg);
    }

    .main-container .bottom .right .black {
        width: 280px;
        height: 369px;
    }

    footer {
        display: flex;
        height: 216px;
        align-items: flex-start;
        padding-top: 60px;
        justify-content: center;
    }

    footer .text,
    footer .logo,
    footer .soc-netw {
        margin: 0;
    }

    footer .logo,
    footer .soc-netw {
        padding: 0 52px;
        width: 240px;
    }

}

@media screen and (min-width: 1440px) {
    .main-container {
        width: 1440px;
    }

    .main-container .modern .img-box .black {
        width: 450px;
        height: 800px;
        background-color: var(--black);
    }

    .main-container .modern .grandma {
        width: 540px;
        height: 800px;
        background-image: url(assets/desct-grandma.svg);
    }

    .main-container .modern .text-box h1,
    .main-container .middle .top .txt-box h2,
    .main-container .bottom .right .black h2,
    footer .text h2 {
        font-size: 22px;
    }

    .main-container .text-box {
        transform: translate(-70px, 190px);
    }

    .main-container .modern .text-box .btn {
        margin: 106px 0 120px 16px;
    }

    .main-container .img-box .title {
        mix-blend-mode: difference;
        width: 451px;
        height: 172px;
        transform: translate(147px, 202px);
    }

    .main-container .img-box .title h1 {
        color: var(--white);
        font-size: 96px;
    }

    .main-container .middle {
        width: 1110px;
    }

    .main-container .middle .top .txt-box h1,
    .main-container .bottom .right .black h1 {
        font-size: 60px;
    }

    .main-container .middle .top .txt-box {
        width: 350px;
    }

    .main-container .middle .top .img {
        width: 635px;
        height: 400px;
        background-image: url(assets/desct-middle.svg);
    }

    .main-container .bottom .left {
        width: 635px;
        height: 720px;
        background-image: url(assets/desct-middle-left.svg);
    }

    .main-container .middle .bottom .right .img {
        width: 445px;
        height: 313px;
        margin: 19px 0;
        background-image: url(assets/desct-middle-right.svg);
    }

    .main-container .bottom .right .black {
        width: 445px;
        height: 389px;
    }

    footer {
        height: 244px;
    }

    footer .logo,
    footer .soc-netw {
        width: 470px;
    }

    footer .soc-netw {
        justify-content: end;
    }

}